<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Managing User Page</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Admin User</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button (click)="locateTo('normaluser')" class="btn btn-info" >User Page</button></td>
          
          <td><button (click)="locateTo('adminuser')" class="btn btn-info" >Admin Page</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

