<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Admin Access Page </h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><button (click)="locateToUrl('user')" class="btn btn-info" >User Details</button></th>
          <th><button (click)="locateToUrl('book')" class="btn btn-info" >Available Books</button></th>
          <th><button (click)="locateToUrl('publisher')" class="btn btn-info" >Publishers Details</button></th>
          <th><button (click)="locateToUrl('author')" class="btn btn-info" >Author's Details</button></th>
        </tr>
      </thead>
      
    </table>
  </div>
</div>

 